.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  /* 可根据需要设置边距 */
}

.preview {
    max-width: 800px;  /* 设置最大宽度，适合屏幕较宽时 */
    width: 100%;       /* 占据父容器的 100% 宽度 */
    padding: 20px;     /* 内边距，用于调整内部元素的位置 */
    background-color: white;  /* 确保背景颜色 */
    border-radius: 24px;      /* 圆角 */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);  /* 设置阴影效果 */
}

/* 展示区域 */
.exhibit {
    max-width: 10000px;
}

/* 背景颜色和样式 */
.html-box {
    background-image: linear-gradient(150deg, #3c5b7b, #27415e, #13182e);
    transition: background-image .5s ease;
    padding: 20px;
    border-radius: 24px;
    /* background-image: linear-gradient(150deg, #d7ccc8, #a1887f, #795548); */
    /* background-image: linear-gradient(150deg, #212121, #2e2e2e, #3c3c3c); */
    /* background-image: linear-gradient(150deg, #4b5d67, #3c4e5e, #2e3e4e); */
    /* background-image: linear-gradient(150deg, #31708f, #3c5b7b, #3e4c62); */
}

/* 内容展示区域 */
.content-exhibit {
    margin: 64px 40px;
    padding: 20px 30px;
    border-radius: 24px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid hsla(0, 0%, 100%, .1);
    box-shadow: 4px 4px 50px -20px #00000080;
}

/* 头部区域样式 */
.content-exhibit-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content-exhibit-header-title {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 用户名样式 */
.content-exhibit-header-title-name {
    outline: none;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

/* 标题 */
.content-title-box {
    padding: 0px;
    border-radius: 8px;
}

.content-title {
    color: #f9f9f9;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin: 0;
    margin-top: 12px;
    padding: 8px;
    line-height: 1.4;
}

/* 主要文本内容 */
.editor-content {
    /* margin-top: 20px; */
    padding: 0px;
    /* border-radius: 8px;
     */
}

.editor-content-text {
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    color: rgb(255, 255, 255); 
    line-height: 1.7;
}

/* 底部输入区域 */
.content-exhibit-footer {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .7;
}

.c-input {
    width: 70%;
}

.c-input-text {
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    color: rgb(255, 255, 255); 
    margin: 0
}

.c-input-placeholder {
    color: #999;
    font-size: 15px;
}

/* 时间样式 */
.content-exhibit-footer-time {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin: 0;
    /* border-bottom: 2px solid #fff; */
    padding-bottom: 4px;
    padding-top: 4px;
}
